<script type="text/javascript">
 /**
  * @module name 客户管理
  * @module desc 
  * @author  wxl
  * @create  date 20120406
  * @modify  man ***
  * @modify  date ***
  */
  Ext.namespace('ArticleMng', 'ArticleMng.articleListMng');


 //create application
 ArticleMng.articleListMng = function() {
   // do NOT access DOM from here; elements don't exist yet

   //此处定义私有属性变量
   //var dragZone1, dragZone2;

   //此处定义私有方法

   //共有区
   return {
       //此处定义共有属性变量
       

       //共有方法
       init: function() {
     	  
           //定义一些初始化行为
    	   //获取id为"docs-文章管理"的面板
    	    var aimobj = Ext.mainScreem.findById('docs-客户管理');
    	    var lyobj = new Ext.layout.BorderLayout();//创建面板布局对象
    	    aimobj.setLayout(lyobj);//应用布局对象



    	    //aimobj.add(ArticleMng.articleListMng.catalogTree);//添加目录树面板
    	    aimobj.add(ArticleMng.articleListMng.mygrid);//添加列表面板
    	    aimobj.add(ArticleMng.articleListMng.gridForm);//添加form
    	    aimobj.add(ArticleMng.articleListMng.aDgridForm);
    	    aimobj.doLayout();//展示页面
    	    
    	    //加载列表数据
    	    ArticleMng.articleListMng.store.load();
       }
   };
 }(); // end of app 

 
 
 
 
 
 
 
 
 
 
 
/**
 * 创建目录树对象
 */
 ArticleMng.articleListMng.catalogTree = new Ext.tree.TreePanel({
	    //renderTo: 'tree-div',
	    title:'目录树',
	    useArrows: true,
	    autoScroll: true,
	    animate: true,
	    region: 'west',
	    //enableDD: true,
	    containerScroll: true,
	    width : 180,
	    border: true,
	    // auto create TreeLoader
	    loader: new Ext.tree.TreeLoader({dataUrl:'showCatalogTree'}),//请求的url地址
	    tools : [{
			id : 'refresh',
			handler : function() {
				ArticleMng.articleListMng.catalogTree.root.reload()
			}
		}],
	    //dataUrl: '',
	    root: {
	        nodeType: 'async',
	        text: '目录树',
	        draggable: false,
	        id: '0000'
	    }
	});
//添加目录树节点点击事件，添加别的事件也是这种方式，以此类推
 ArticleMng.articleListMng.catalogTree.on('click', function(node,e) {
		e.stopEvent();
		node.expand();
		deptid = node.attributes.id;
		ArticleMng.articleListMng.store.load({
					params : {
						start : 0,
						limit : 12,
						catalog_id : deptid
					}
				});
	});
 
 
 
//数据集加载对象，给grid用的
 ArticleMng.articleListMng.store = new Ext.data.JsonStore({
        root: 'dataroot',
        totalProperty: 'totalCount',
        //idProperty: 'threadid',
        remoteSort: true,
        fields: [
            'id', 'adId', 'adName', 'adProperty'
        ],
        url: 'ad/querycustomerlist'
    });

    //添加grid 数据加载前事件
    ArticleMng.articleListMng.store.on("beforeload",function (selfstore){
    	//将form面板的查询参数  封装成  store 能接受的对象
    	var tmpCnf = Ext.urlDecode(Ext.Ajax.serializeForm(ArticleMng.articleListMng.searchPanel.getForm().getEl()));
    	tmpCnf.start = 0;//从哪一条记录开始
    	tmpCnf.limit = 10;//查询条数
    	selfstore.baseParams=tmpCnf;

    });
    

    function renderTopic(value, p, record){
        return String.format(
                '{0}',
                value);
    }
    function renderLast(value, p, r){
    	//value.dateFormat('M j, Y, g:i a')
        return String.format('{0}<br/>by {1}',value , r.data['cnt_id']);
    }
    //对列表的某列作处理
    function renderOpt(value, p, r){
    	return String.format('<a href=\'OutputHTML/web/{0}.html\' target=\"_blank\">修改</a>&nbsp;&nbsp;<u onclick=\"doPulicCnt(\'{0}\')\"></u>&nbsp;&nbsp;<u onclick=\"doDelCnt(\'{0}\')\">删除</u>',r.data['id']);
    }
    //发布文章
    function doPulicCnt(id){
    	/**/
    	Ext.Ajax.request({
    		   url: 'doPublicCnt?id='+id,
    		   method:'get',
    		   success: function(response, opts) {
    			      //var obj = Ext.decode(response.responseText);
    			      Ext.Msg.alert('系统提示',response.responseText);
    		   },
    		   failure: function(response, opts) {
    			   Ext.Msg.alert('系统提示', '操作失败！');
    		   },
    		   params: { id: id }
    		});
    }
  //发布文章
    function doDelCnt(id){
    	/**/
    	Ext.Ajax.request({
    		   url: 'ad/delAdAction?id='+id,
    		   method:'get',
    		   success: function(response, opts) {
    			      //var obj = Ext.decode(response.responseText);
    			      //alert(response.responseText);
    			      ArticleMng.articleListMng.getStore().reload();
    			      Ext.Msg.alert('系统提示', response.responseText);
    			      
    		   },
    		   failure: function(response, opts) {
    			      Ext.Msg.alert('系统提示', '操作失败！');
    		   },
    		   params: { id: id }
    		});
    }
    
    
    //表单查询条件面板
ArticleMng.articleListMng.searchPanel =new Ext.FormPanel({
     	region:"north",
     	height:35,
     	frame:false,
     	border:false,id:"AppUserSearchForm",
     	layout:"hbox",
     	layoutConfig:{padding:"5",align:"middle"},
     	defaults:{xtype:"label",border:false,margins:{top:0,right:4,bottom:4,left:4}},
     	          items:[{text:"发布人"},{xtype:"textfield",name:"operate_user_id",value:''},
     	                 {text:"客户名称"},{xtype:"textfield",name:"cnt_caption",value:''},
     	                 {xtype:"button",text:"查询",iconCls:"search",scope:this,handler:function (){
     	                	//ArticleMng.articleListMng.store.baseParams=Ext.urlDecode(Ext.Ajax.serializeForm(searchPanel.getForm().getEl()));
     	                	//alert(Ext.Ajax.serializeForm(ArticleMng.articleListMng.searchPanel.getForm().getEl()) );
     	                	ArticleMng.articleListMng.store.load();
     	                   }},
     	                 {xtype:"button",text:"发布",iconCls:"search",scope:this,handler:function (){
     	                	//ArticleMng.articleListMng.store.baseParams=Ext.urlDecode(Ext.Ajax.serializeForm(searchPanel.getForm().getEl()));
     	                	//alert(Ext.Ajax.serializeForm(ArticleMng.articleListMng.searchPanel.getForm().getEl()) );
     	                	ArticleMng.articleListMng.reqAd();
     	                	//getSelectRow();
     	                   }}
     	                 ]});
    
//创建一个列表面板
ArticleMng.articleListMng.sm = new Ext.grid.CheckboxSelectionModel({
listeners:{
		     rowselect :function(selectmodel,rowIndex,record) {
		        //ArticleMng.articleListMng.customerPy[adId][tfd.fieldLabel] = tfd.getValue();
		       ArticleMng.articleListMng.gridForm.removeAll(true);
		       var adproperty = record.get('adProperty');
			   var adId     =   record.get('adId');
			   var objproperty = null;
			   if(ArticleMng.articleListMng.customerPy[adId]){
			      objproperty = ArticleMng.articleListMng.customerPy[adId];
			   
			   }else{
			       objproperty = Ext.decode(adproperty);
			       ArticleMng.articleListMng.customerPy[adId] = objproperty;
			   }
			   /*遍历对象属性*/
			   for(var p in objproperty){
			      //alert(objproperty[p]);
			      var objfield = new Ext.form.TextField({fieldLabel:p,clearCls:adId,labelWidth: 30,name:p+rowIndex,emptyText:objproperty[p],
					      listeners:{
					     blur:function(tfd, evt) {
					        ArticleMng.articleListMng.customerPy[adId][tfd.fieldLabel] = tfd.getValue();
					     }
					   }
			       });
			      ArticleMng.articleListMng.gridForm.add(objfield);
			   }
			   
			
			   ArticleMng.articleListMng.gridForm.doLayout(true);
		     }
		}
});
ArticleMng.articleListMng.mygrid = new Ext.grid.GridPanel({
        //width:700,
        //height:500,
        //autoHeight: true,
        //title:'分页演示',
        tbar:ArticleMng.articleListMng.searchPanel,
        store:  ArticleMng.articleListMng.store,
        //renderTo: 'tree-div',
        //closable:true,
        trackMouseOver:true,
        //disableSelection:true,
        region : 'center',
        loadMask: true,
        sm: ArticleMng.articleListMng.sm,

        // grid columns
        columns:[
        ArticleMng.articleListMng.sm
        ,
        {
            //id: 'topic', // id assigned so we can apply custom css (e.g. .x-grid-col-topic b { color:#333 })
            header: "客户编号",
            dataIndex: 'adId',
            width: 150,
            //renderer: renderTopic,
            sortable: true
        },{
            header: "客户名称",
            dataIndex: 'adName',
            width: 100,
            //hidden: true,
            sortable: true
        },{
            header: "属性",
            dataIndex: 'adProperty',
            width: 70,
            align: 'right',
            sortable: true
        },{
            id: '发布日期',
            header: "发布日期",
            dataIndex: 'operate_date',
            width: 150,
            //renderer: renderLast,
            sortable: true
        },{            
            header: "操作",
            //dataIndex: 'operate_date',
            width: 150,
            renderer: renderOpt,
            sortable: true
        }],

        // customize view config
        viewConfig: {
            forceFit:true,
            enableRowBody:false,
            showPreview:false,
            getRowClass : function(record, rowIndex, p, store){
                if(this.showPreview){
                    p.body = '<p>'+record.data.cnt_id+'</p>';
                    return 'x-grid3-row-expanded';
                }
                return 'x-grid3-row-collapsed';
            }
        },

        // paging bar on the bottom
        bbar: new Ext.PagingToolbar({
            pageSize: 10,
            store:  ArticleMng.articleListMng.store,
            displayInfo: true,
            displayMsg: 'Displaying topics {0} - {1} of {2}',
            emptyMsg: "No topics to display",
            items:[
                '-', {
                pressed: false,
                enableToggle:true,
                //text: 'Show Preview',
                cls: 'x-btn-text-icon details',
                toggleHandler: function(btn, pressed){
                    //var view = mygrid.getView();
                    //view.showPreview = pressed;
                    //view.refresh();
                }
            }]
        })
    });
//缓存客户参数    
ArticleMng.articleListMng.customerPy = new Array();
function getSelectRow(){
var sm = ArticleMng.articleListMng.mygrid.getSelectionModel();
var array = sm.getSelections();//records
ArticleMng.articleListMng.gridForm.removeAll(true);
for(var i =0;i < array.length;i++){
   //alert(array[i].get('id'));
   var adproperty = array[i].get('adProperty');
   var adId     = array[i].get('adId');
   var objproperty = null;
   if(ArticleMng.articleListMng.customerPy[adId]){
      objproperty = ArticleMng.articleListMng.customerPy[adId];
   
   }else{
       objproperty = Ext.decode(adproperty);
       ArticleMng.articleListMng.customerPy[adId] = objproperty;
   }
   /*遍历对象属性*/
   for(var p in objproperty){
      //alert(objproperty[p]);
      var objfield = new Ext.form.TextField({fieldLabel:p,clearCls:adId,labelWidth: 30,name:'aaa'+i,emptyText:objproperty[p],
		      listeners:{
		     blur:function(tfd, evt) {
		        ArticleMng.articleListMng.customerPy[adId][tfd.fieldLabel] = tfd.getValue();
		     }
		   }
       });
      ArticleMng.articleListMng.gridForm.add(objfield);
   }
   

   ArticleMng.articleListMng.gridForm.doLayout(true);
} 

}

ArticleMng.articleListMng.gridForm = new Ext.FormPanel({
        id: 'ad-company-form',
        region : 'east',
        layout : 'form',  
        collapsible : true,
        frame: true,
        labelAlign: 'left',
        title: '参数',
        bodyStyle:'padding:5px',
        height: 300,
        width: 200
        });

ArticleMng.articleListMng.aDgridForm = new Ext.FormPanel({
        id: 'ad-company-form-OUT',
        region : 'south',
        layout : 'form',  
        collapsible : true,
        frame: true,
        labelAlign: 'left',
        title: '输出',
        bodyStyle:'padding:5px',
        height: 200,
        //width: 200,
        items: [{
                fieldLabel: '输出',
                xtype:'textarea',
                height: 150,
                width: 800,
                id   :'ad_out_ta',
                name: 'ad_out_ta'
            }
        ]
        });

ArticleMng.articleListMng.reqAd = function (){

var sm = ArticleMng.articleListMng.mygrid.getSelectionModel();
var array = sm.getSelections();//records
var ad_id = '';
var ad_pt = '';
for(var i =0;i < array.length;i++){
   var adproperty = array[i].get('adProperty');
   var adId       = array[i].get('adId');
   var id         = array[i].get('id');
   var objproperty = null;
   if(i == array.length -1)ad_id +=id;
   else ad_id +=id+"_"
   
   var adpropery = ArticleMng.articleListMng.customerPy[adId];
   if(adpropery){
      var ad_pt_tmp ='';
      for(var p in adpropery){
         ad_pt_tmp +=adpropery[p]+"_";
      }
      ad_pt_tmp = ad_pt_tmp.substring(0,ad_pt_tmp.length-1);
   }
   ad_pt += ad_pt_tmp+'|';
}

ad_pt = ad_pt.substring(0,ad_pt.length-1);
//alert(ad_pt.substring(0,ad_pt.length-1));

var outtxt = ArticleMng.articleListMng.aDgridForm.get('ad_out_ta');


var url = "?id="+ad_id+"&ext="+ad_pt;
/*输出url*/
var end_out_cnt = '<div id=\"AD_Sellbuyads\"> \n <script src=\"http://localhost:8080/myclient/SC/base'+url+'\" type=\"textjavascript\"><\/script> \n<\/div>' ;

outtxt.setValue(end_out_cnt);

/*
ArticleMng.articleListMng.aDgridForm.getForm().submit({
   url:'ad/showad',  
   waitMsg:"正在提交表单数据，请稍候。。。。。。",  
   failure:function(form, action){  
   Ext.MessageBox.alert('警告', action.result.errors);  
},   
success: function(form, action){   
Ext.MessageBox.alert('信息', action.result.msg);  
}   
});*/

var showadcomp = returnmif({id:'预览',title:'预览',region:'center',src:'ad/showad'+url});
var tabs = new Ext.TabPanel({
            region: 'center',
            margins:'3 3 3 0', 
            activeTab: 0,
            defaults:{autoScroll:true},

            items:[showadcomp]
        });

var win = new Ext.Window({
            title: 'Layout Window',
            closable:true,
            id : 'id_window_comp',
            width:600,
            height:350,
            border:false,
            plain:true,
            layout: 'fit',
            items: [tabs]
        });

        win.show(this);




/*
Ext.Ajax.request({
   url: 'foo.php',
   success: function(){
      alert('secuss');
   },
   failure: function(){
      alert('failer');
   },
   headers: {
       'my-header': 'foo'
   },
   params: { ad_id:ad_id }
});
*/


}


Ext.onReady(ArticleMng.articleListMng.init, ArticleMng.articleListMng);
</script>